{% if i is not defined %} {% set i = 1 %} {% endif %}
<div id="" class="container-fluid mobile_show dontPrint">
    <div class="row bg-info text-dark">Semaine {{ i }}</div>
    <div class="row bg-dark text-info">
        <div class="col-4">Jour</div>
        <div class="col-4">Midi</div>
        <div class="col-4">Soir</div>
    </div>
    {% for day in days %}
        <div class="row border">
            <div class="col-2 bg-dark text-info"><p>{{ day.daySmallname }}</p></div>
            {% for d in detail %}
                {% if i == d.weekId %}
                    {% if 1 == d.period.id and d.day.id == day.id %}
                        <div class="col-5 colDayMobile dropdown">
                            <p id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">
                                {% if d.dish != null %}
                                    {{ d.dish.dishName}}
                                {% else %}
                                    (Vide)
                                {% endif %}
                            </p>
                            {{ include("planning/dropdown/dropdown.html.twig") }}
                        </div>
                    {% endif %}
                    {% if 2 == d.period.id and d.day.id == day.id %}
                        <div class="col-5 colDayMobile dropdown">
                            <p id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">
                                {% if d.dish != null %}
                                    {{ d.dish.dishName}}
                                {% else %}
                                    (Vide)
                                {% endif %}
                            </p>
                            {{ include("planning/dropdown/dropdown.html.twig") }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %} 
        </div>
{{ include("planning/dropdown/modalChangeDish.html.twig") }}
    {% endfor %} 
</div>
<script src="{{ asset('js/dishActionMobile.js') }}"></script> 
