<div class="container bg-light">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6">
            <div class="row border">
                <div class="col-6">
                    <div class="row bg-dark text-info">
                        <div class="col-4">
                            Midi
                        </div>
                        {#<div class="col-8">
                             <p class="listingCat">Entrée</p>
                            <p class="listingCat">Plat</p>
                            {# <p class="listingCat">Dessert</p> 
                        </div>#}
                    </div>
                </div>
                <div class="col-6">
                    {% for d in detail %}
                        {% if 1 == d.period.id %}
                            {% for dish in dishes %}
                                {% if d.dish.id is defined and dish.id == d.dish.id %}
                                    <div class="dropdown">
                                        <span id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">{{dish.dishName}}</span> 
                                        {{ include("planning/dropdown/dropdown.html.twig") }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if null == d.dish %}
                                <div class="dropdown">
                                    <span id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">(vide)</span> 
                                    {{ include("planning/dropdown/dropdown.html.twig") }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            <div class="row border">
                <div class="col-6">
                    <div class="row bg-dark text-info">
                        <div class="col-4">
                            Soir
                        </div>
                        {#<div class="col-8">
                             <p class="listingCat">Entrée</p>
                            <p class="listingCat">Plat</p>
                            {# <p class="listingCat">Dessert</p> 
                        </div>#}
                    </div>
                </div>
                <div class="col-6">
                    {% for d in detail %}
                        {% if 2 == d.period.id %}
                            {% for dish in dishes %}
                                {% if d.dish.id is defined and dish.id == d.dish.id %}
                                    <div class="dropdown">
                                        <span id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">{{dish.dishName}}</span> 
                                        {{ include("planning/dropdown/dropdown.html.twig") }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if null == d.dish %}
                                <div class="dropdown">
                                    <span id="{{ d.id }}" class="dropdown-toggle {% if d.done == 1 %} lineThrough {% endif %}" data-bs-toggle="dropdown">(vide)</span> 
                                    {{ include("planning/dropdown/dropdown.html.twig") }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{{ include("planning/dropdown/modalChangeDish.html.twig") }}
