<div class="container">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6">
            <div class="row border">
                <div class="col-6">
                    <div class="row bg-dark text-info">
                        <div class="col-4">
                            Midi
                        </div>
                        {#<div class="col-8">
                             <p class="listingCat">Entrée</p>
                            <p class="listingCat">Plat</p>
                            {# <p class="listingCat">Dessert</p> 
                        </div>#}
                    </div>
                </div>
                <div class="col-6">
                    {% for d in detail %}
                        {% if 1 == d.period.id %}
                            {% for dish in dishes %}
                                {% if dish.id == d.dish.id %}
                                    <div class="dropdown">
                                        <span id="{{ d.id }}" class="dropdown-toggle" data-bs-toggle="dropdown">{{dish.dishName}}</span> 
                                        <ul class="dropdown-menu">
                                            <li><p class="dropdown-item cross" >Cocher</p></li>
                                            <li><p class="dropdown-item update" data-bs-toggle="modal" data-bs-target="#modalChangeDish">Modifier</p></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            <div class="row border">
                <div class="col-6">
                    <div class="row bg-dark text-info">
                        <div class="col-4">
                            Soir
                        </div>
                        {#<div class="col-8">
                             <p class="listingCat">Entrée</p>
                            <p class="listingCat">Plat</p>
                            {# <p class="listingCat">Dessert</p> 
                        </div>#}
                    </div>
                </div>
                <div class="col-6">
                    {% for d in detail %}
                        {% if 2 == d.period.id %}
                            {% for dish in dishes %}
                                {% if dish.id == d.dish.id %}
                                    <div class="dropdown">
                                        <span id="{{ d.id }}" class="dropdown-toggle" data-bs-toggle="dropdown">{{dish.dishName}}</span> 
                                        <ul class="dropdown-menu">
                                            <li><p class="dropdown-item cross" >Cocher</p></li>
                                            <li><p class="dropdown-item update" data-bs-toggle="modal" data-bs-target="#modalChangeDish">Modifier</p></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{{ include("planning/modalChangeDish.html.twig") }}
